---
    import "../styles/global.css";
---

<div class="error">
    <div class="box">
        <img height="250vh" width="250vh" src="/IMG_4030.jpg" />
        <div class="two">
            congrats, you broke reddit: <a href="/">go back home</a>
        </div>
    </div>
</div>

<style>
    img {
        padding: 1vh;
    }

    .box {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px dotted white;
    }

    .error {
        display: flex;
        height: 100vh;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .two {
        text-align: center;
        padding: 1vh;
        padding-top: 0;
    }
</style>