---
	import Layout from "../layouts/Main.astro"
---

<Layout heading="about me" title="aboutaboutaboutaboutaboutabout">
	<div class="main">
		<p>
            hello, my name is <i>luc</i>, but you probably know me as <i>alkalde</i> or <i>romance</i>.
        </p>
        <p>
            i'm a 22 year old [DATA EXPUNGED] year computer engineer at my province's university, probably specializing in embedded systems.
            i procrastinate a lot, usually on something i'm randomly obsessed over at any given time... or nothing at all (lol)
        </p>
        <p>
            i probably am most known for either my involvement in the <a href="https://osu.ppy.sh/users/7314046">osu!</a> scene, although i play a lot of <a href="https://slippi.gg/user/luc-0">super smash bros. melee</a> now.
            i'm also really involved with the group i "founded", <a href="https://staydown.money/">stay down</a>. we (try) to do a lot, so take a look at what some of us are capable of!
        </p>
        <p>
            i also am pretty involved with the music scene online, as i take part in a lot of archivist efforts on <a href="https://rateyourmusic.com/~romance">rateyourmusic</a>.
            i primarily have an interest in midwest emo or digicore music, and run a radio show on my local college radio! 
            i'm looking to host an online radio show sometime soon, so stay tuned if there's any progress on that front.
        </p>
        <p>
            also im FILIPINO &#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;&#127477;&#127469;
        </p>
	</div>
    <div class="fun">
        <div class="likes">
            <ul>
                <div class="head">likes</div>
                <li>archivism</li>
                <li>rhythm games</li>
                <li>walking around</li>
                <li>twitterposting</li>
                <li>ssbm</li>
            </ul>
        </div>
        <div class="obsession">
            <ul>
                <div class="head">current obsessions</div>
                <li>northernlion</li>
                <li>jane remover</li>
                <li>normalsville</li>
                <li>balatro</li>
            </ul>
        </div>
        <div class="dislikes">
            <ul>
                <div class="head">dislikes</div>
                <li>most foods</li>
                <li>me procrastinating</li>
                <li>responsibility</li>
                <li>being jobless</li>
            </ul>
        </div>
    </div>
</Layout>

<style>

	.main {
        text-wrap: stable;
		text-align: center;
		align-items: center;
		padding: 0%;
		min-height: 100%;
        max-width: 90%;
	}

    .head {
        padding: 2px;
    }

    .fun {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-top: 1px dotted white;
        border-bottom: 1px dotted white;
        justify-content: space-around;
        margin: 5px;
    }

    .likes {
        color: #b3f7b6;
    }

    .obsession {
        color: lightslategrey;
    }

    .dislikes {
        color: #e47461;
    }

    ul {
        padding: .5em;
        list-style: none;
        list-style-type: none;
        text-align: center;
    }

    li {
        padding: 0;
        list-style: none;
        list-style-type: none;
        text-align: left;
    }
</style>