---
	import Layout from "../layouts/Main.astro"
---

<Layout heading="about me" title="blogblogblogblogblogblogblogblogblog">
	<div class="main">
		wip / blog
	</div>
</Layout>

<style>
	.main {
		padding: 5px;
	}
</style>