---
import Layout from "../layouts/Main.astro";
import Lastfm from "../components/Lastfm.svelte";
---

<Layout heading="home" title="lucsitelucsitelucsitelucsite">
  <div class="main">
    hello! my name is luc. you likely know me as <i>alkalde</i>.

    <div>i will be working on this site over the next week or two...</div>

    <div class="additive">
      <Lastfm client:load />
    </div>

    <div class="bottom">
      <a href="https://tyju.cc"><img src="/buttons/tyju-btn.png" /></a>
      <a href="https://goth.zip"><img src="/buttons/gothzip.png" /></a>
      <a href="https://staydown.money"><img src="/buttons/Sprite-0004.png" /></a>
      <img src="/buttons/lain.gif" />
      <img src="/buttons/misc-cdda.png" />
    </div>
    <div>
      <img src="/buttons/Mental Wi-Fi by prosaix.gif" />
    </div>
    <div>
      <img src="/buttons/lgbt_enby.png" />
    </div>
  </div>
</Layout>

<style>
  .main {
    text-align: center;
    align-items: center;
    padding: 5px;
    /* border: 2px solid brown; */
    min-height: 100%;
    height: max-content;
  }

  .bottom {
    align-items: flex-end;
  }

  .additive {
    bottom: 0;
    align-items: end;
    padding: 10px;
  }
</style>
