---
	import Layout from "../layouts/Main.astro"
---

<Layout heading="about me" title="projectsprojectsprojectsprojectsprojectsprojectsprojectsprojects">
	<div class="main">
		wip / projects
	</div>
</Layout>

<style>
	.main {
		padding: 5px;
	}
</style>