---
import Webrings from "./Webrings.astro";
---

<div>
  <img
    src="https://a.ppy.sh/7314046?1744858825.jpeg"
    width="100px"
    height="100px"
  />
  <h>alkalde</h>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/blog">blog</a></li>
  </ul>
  webrings
  <Webrings />
</div>

<style>
  div {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-width: fit-content;
    max-width: 8vw;
  }

  ul {
    min-width: 80%;
    padding: 0;
    list-style: none;
    list-style-type: none;
  }

  ul li::before {
    border-top: 1px dotted white;
  }

  li {
    min-width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  h {
    padding: 1%;
    font-size: 20px;
  }

  h2 {
    padding: 0%;
    font-size: 15px;
  }

  img {
    border: 1px solid lightblue;
  }

  #statuscafe {
    padding: 0.5em;
    border: 1px solid midnightblue;
    min-width: 100%;
  }

  #statuscafe-username {
    margin-bottom: 0.5em;
  }

  #statuscafe-content {
    margin: 0 1em 0.5em 1em;
  }

  @media only screen and (max-width: 600px) {
    
  }
</style>
