---
import Navbar from "../components/Navbar.astro";
import Webrings from "../components/Webrings.astro";
import "../styles/global.css";
const { heading, title } = Astro.props;
---

<head>
  <link rel="icon" type="image/jpg" href="thummm.png" />
  <title>{title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div class="container">
  <div class="mobile-wr">
    <Webrings />
  </div>
  <main>
    <article>
        <slot />
    </article>
    <div class="creds">
      site developed by (me.) get it twisted.
    </div>
  </main>
  <Navbar />
</div>

<style>
  main {
    margin: 0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 60vh;
    width: 45vw;
    max-width: 50vw;
    /* min-width: 100%; */
  }

  .mobile-wr {
    display: none;
  }

  .creds {
    padding-top: 2px;
    text-align: left;
    font-style: italic;
    font-size: 0.7rem;
    color: #7a6060;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article {
    border: 1px solid white;
    padding-left: 0%;
    padding-right: 0%;
    padding: 0.5rem;
    
    /* girl idk */
    min-height: 80vh;
    width: 100%;
    max-width: 43vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* text rel */
    color: white;
  }

  .content {
    grid-area: main;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1;
    flex-grow: 1;
  }

  .content > :global(*) {
    grid-row: 1;
    grid-column: 1;
  }

  @media only screen and (max-width: 800px) {
    main {
      min-width: 95%;
      padding: 0;
      margin: 0;
    }

    article {
      border: none;
      max-width: none;
      min-width: 100%;
      margin: 0%;
      padding: 0%;
    }

    .creds {
      display: none;
    }

    .container {
      flex-direction: column-reverse;
    }

    .mobile-wr {
      display: flex;
    }
  }
</style>
